:root {
  --white: #FFF;
  --lightGrayishViolet: #dedddf;
  --darkGreyishVioleta: #8e8593;
  --darkViolet: #21092f;
  --darkVioletLight: #431e58;
  --errorRed: #ff5252;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: url('/images/bg-main-desktop.png') left/510px no-repeat;
  height: 100vh;
}

p {
  font-size: 18;
}

h1,
h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

#app {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  position: relative;
  top: 20%;
}


section {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

input {
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid var(--lightGrayishViolet);
}

input::placeholder {
  color: var(--darkGreyishVioleta);
  font-size: 18px;
}

input.error {
  border: 1px solid var(--errorRed);
}

input:focus {
  outline: none;
  border: 1px solid var(--darkViolet);
}

form {
  max-width: 480px;
}

@media (max-width:1129px) {

  body {
    background: none;
  }

  #app {
    padding: 0;
    flex-direction: column;
    top: 0;
    justify-content: center;
  }

}

@media (max-width:600px) {
  form{
    max-width: -webkit-fill-available;
  }
}
